<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite" verbose="5">
  <test thread-count="2" parallel="tests" name="Test">
  <parameter name="systemPort" value="8345"></parameter>
  <parameter name="udid" value="emulator-5554"></parameter>
    <classes>
      <class name="myLearning.LearnParallel3"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="2" parallel="tests" name="Test2">
  <parameter name="systemPort" value="8355"></parameter>
  <parameter name="udid" value="emulator-5556"></parameter>
  <parameter name="avd" value="pixel_3a_r_11_0_-_api_30"></parameter>
    <classes>
      <class name="myLearning.LearnParallel4"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
